
.body {
    font-family: 'Varela', sans-serif;
    background-color: white;
    -webkit-font-smoothing: antialiased;        
    padding: 0px;
    padding-bottom:0;
    height: auto;
    width: 100%;
}


.accountpagecaption{
    font-size: 15px;
    font-weight: normal;
    padding-top: 25px;
}

.accountinfo-form{
    margin:0px auto !important;
    left: auto;
    right: auto;
    float: none;
    
    
}


            /* Remove margin top of input forms in account page */
.accountinfo-form{
    margin:0px auto !important;
    left: auto;
    right: auto;
    float: none;
    
    
}

.inputtitle{
    padding-left: 20px; 
    padding-top: 20px;
}



/* Style elements within the input forms in account page */
.accountinfo-form-style {
  display: block;
  width: 55%;
  height: 50px;
  padding: 20px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid black;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  /*transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;*/
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.addCardForm {
  display: block;
  width: 55%;
  height: 50px;
  padding: 5px 5px !important;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  /*background-image: none;*/
  border: 1px solid black;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}



.ccForm{
    width: 27.5%;
    left: 0;
    right: 0;
    margin: 0 !important;
}

.ccForm-row{
    display: flex;
    flex-direction: row;
}


.btn-submit {
  padding: 6px 12px;
  margin: 20px;
  color: #333;
  background-color: #fff;
  border-color: black;
  border-radius: 0px;
  
  width: auto;
}

label{
    font-size: 16px;
}

.checkoutpage{
    padding-left: 100px;
}

input:invalid {
    border-color: red;
}
namecard,
input:valid {
    border-color: #ccc;
}

input:invalid {
    border-color: red;
}
card,
input:valid {
    border-color: black;
}

.secondsection{
    padding-bottom: 20px;
}


       