/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Nov 2019, 8:31:43 PM
    Author     : Xracius
*/

.middle {
    text-align: center; 
    margin-top: 100px;
}

.home-button {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}
.home-button:link {
    color: white;
    text-decoration: none;
}
.home-button:visited{
    color: white;
    text-decoration: none;
}

